version: '3.8'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/workspace:cached
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - DOCKER_HOST=tcp://docker:2376
      - DOCKER_TLS_VERIFY=1
    depends_on:
      - docker
    security_opt:
      - no-new-privileges:true
    read_only: true
    tmpfs:
      - /tmp:noexec,nosuid,size=100m

  docker:
    image: docker:dind
    privileged: true
    environment:
      - DOCKER_TLS_CERTDIR=/certs
    volumes:
      - docker-certs-ca:/certs/ca
      - docker-certs-client:/certs/client

volumes:
  docker-certs-ca:
  docker-certs-client:
